<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Shop</title>
    <link rel="stylesheet" type="text/css" href="/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid">

    <header th:insert="fragments/navbar">
    </header>

    <main class="mt-3">
        <div class="jumbotron bg-light" th:object="${model}">
            <div class="text-center">
                <img th:src="*{imageUrl}" width="350" alt="Product">
            </div>
            <div class="row">
                <div class="col col-md-12 text-center mt-5">
                    <h1 th:text="|Name: *{name}|"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center mt-3">
                    <h4 th:text="|Description: *{description}|"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center">
                    <h4 th:text="|Price: *{price}|"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center">
                    <a th:href="@{/orders/{id}(id=*{id})}" class="btn btn-success">Add To Cart</a>
                </div>
            </div>
        </div>
    </main>

    <footer class="mt-3">
        <div class="container-fluid bg-light rounded">
            <div class="text-dark font-weight-bold p-2 text-center">© CopyRight Sanity Web Design Studios 2019. All
                rights reserved.
            </div>
        </div>
    </footer>

</div>

</body>
</html>